.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.filters__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.filters__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.filters__title {
    margin: 0;
    font-family: var(--second-family);
    color: var(--dark-primary);
    font-size: 16px;
    font-weight: 400;
}