.stepper {
    display: flex;
    width: 122px;
    background-color: var(--white);
}

.stepper__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    flex-shrink: 0;
    padding: 12px 16px;
    font: inherit;
    color: var(--dark-primary);
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    transition: var(--main-trs);
}

.stepper__btn:disabled {
    color: var(--border-grey);
    pointer-events: none;
}

.stepper__input {
    width: calc(100% - 84px);
    border: none;
    font-family: inherit;
    color: var(--dark-primary);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: inherit;
}

/* Для отключения стрелок в input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.stepper--cart {
    background-color: var(--light-grey);
}

.stepper__btn:focus {
    outline: none;
}

.stepper__btn:focus-visible {
    outline: 2px dashed var(--dark-primary);
	outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
    .stepper__btn:hover {
        color: var(--primary);
    }
}

.stepper__btn:active {
    color: var(--border-grey);
}

.stepper__input:focus {
    outline: none;
}

.stepper__input:focus-visible {
    outline: 2px dashed var(--primary);
    outline-offset: var(--outline-offset);
}